/* p.error {
  color: red;
}

p.success {
  color: green;
}

p.success.feedback {
  border: 1px dashed green;
}

#content {
  background-color: #ebebeb;
  padding: 20px;
} */

/* div p {
  color: purple;
} */

/* div .error {
  color: purple;
} */

/* a[href="https://www.google.com"]
{
  background-color: green;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
} */

/* a[href*='google'] {
  background-color: yellow;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
} */

/* a[href$='com'] {
  background-color: yellow;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
} */

/* div {
  color: lightcoral;
  border: 1px solid grey;
  margin: 40px;
  font-weight: bold;
}
div p {
  border: inherit;
  margin: inherit;
  color: crimson;
}

p {
  color: orange;
} */

/* header {
  position: static;
} */

/* header {
  position: relative;
  left: 100px;
  top: 100px;
} */

/* header {
}

.banner {
  position: relative;
}

.banner img {
  max-width: 100%;
}

.banner .welcome {
  background-color: #feb614;
  color: white;
  padding: 30px;
  position: absolute;
  left: 0;
  top: 30%;
}

.banner h2 {
  font-size: 74px;
}

.banner h2 span {
  font-size: 1.3em;
} */

/* header {
  position: relative;
  left: 100px;
  top: 100px;
} */

/* header {
  background-color: #f63232;
  padding: 20px;
  text-align: center;
  position: fixed;
  width: 100%;
  z-index: 1;
  top: 0;
  left: 0;
}

header h1 {
  color: white;
  border: 8px solid white;
  padding: 6px 12px;
  display: inline-block;
  border-radius: 33px;
}

.banner {
  position: relative;
}

.banner img {
  max-width: 100%;
}

.banner .welcome {
  background-color: #feb614;
  color: white;
  padding: 30px;
  position: absolute;
  left: 0px;
  top: 30%;
}

.banner h2 {
  font-size: 74px;
}

.banner h2 span {
  font-size: 1.3em;
}

nav {
  background-color: #f4f4f4;
  padding: 20px;
  position: sticky;
  top: 148px;
}

nav ul {
  white-space: nowrap;
  max-width: 1200px;
  margin: 0 auto;
}

nav li {
  width: 25%;
  display: inline-block;
  font-size: 24px;
}

nav li a {
  text-decoration: none;
  color: #4b4b4b;
}

nav li a.join {
  color: #f63232;
} */

/* header {
  background-color: red;

  margin: 20px 0;
  position: fixed;
  width: 100%;
  text-align: center;
  left: 0;
  top: 0;
  z-index: 1;
}

header h1 {
  color: white;
  border: 8px solid white;
  display: inline-block;
  padding: 6px 12px;
  border-radius: 36px;
}

.banner {
  position: relative;
} */
/* 
header {
  background-color: #f63232;
  padding: 20px 0;
  text-align: center;
  left: 0;
  top: 0;
  position: fixed;
  width: 100%;
  z-index: 1;
}

header h1 {
  border: 8px solid white;
  color: white;
  display: inline-block;
  padding: 6px 12px;
  border-radius: 36px;
}

.banner {
  position: relative;
}

.banner img {
  max-width: 100%;
}

.banner .welcome {
  background-color: #feb614;
  padding: 30px;
  font-size: 60px;
  position: absolute;
  color: white;
  top: 30%;
  left: 0;
}

.banner .welcome span {
  font-size: 1.4em;
} */

/* header {
  background-color: #f63232;
  padding: 20px 0;
  text-align: center;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 1;
}

header h1 {
  border: 8px solid white;
  padding: 6px 12px;
  display: inline-block;
  border-radius: 36px;
  color: white;
}

.banner {
  position: relative;
}

.banner img {
  max-width: 100%;
}

.banner .welcome {
  background: #feb614;
  color: white;
  position: absolute;
  padding: 30px;
  font-size: 60px;
  left: 0;
  top: 30%;
}

.banner .welcome span {
  font-size: 1.4em;
} */

/* header {
  background-color: #f63232;
  padding: 40px 0;
  text-align: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1;
}

header h1 {
  color: white;
  border: 8px solid white;
  padding: 6px 12px;
  border-radius: 36px;
  display: inline-block;
}

.banner {
  position: relative;
}

.banner .welcome {
  position: absolute;
  background-color: #feb614;
  padding: 30px;
  left: 0;
  top: 30%;
}

.banner .welcome h2 {
  font-size: 60px;
  color: white;
}

.banner .welcome span {
  font-size: 1.4em;
}

nav {
  background: #f4f4f4;
  padding: 20px;
  position: sticky;
  top: 106px;

}

nav ul {
  white-space: nowrap;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

nav li {
  width: 25%;
  display: inline-block;
  font-size: 24px;
}

nav li a {
  text-decoration: none;
  color: #4b4b4b;
}

nav li a.join {
  color: #f63232;
} */

/* body,
ul,
li,
h1,
h2,
a {
  margin: 0;
  padding: 0;
  font-family: arial;
}
header {
  position: fixed;
  background-color: #f63232;
  padding: 20px;
  text-align: center;
  z-index: 1;
  width: 100%;
  left: 0;
  top: 0;
}

header h1 {
  color: white;
  border: 8px solid white;
  padding: 6px 12px;
  display: inline-block;
  border-radius: 36px;
}

.banner {
  position: relative;
}

.banner img {
  max-width: 100%;
}

.banner .welcome {
  background-color: #feb614;
  color: white;
  padding: 30px;
  position: absolute;
  left: 0;
  top: 30%;
}

.banner h2 {
  font-size: 74px;
}

.banner h2 span {
  font-size: 1.3em;
}

nav {
  background-color: #f4f4f4;
  padding: 20px;
  position: sticky;
  top: 106px;
}

nav ul {
  white-space: nowrap;
  max-width: 1200px;
  margin: 0 auto;
}

nav li {
  width: 25%;
  display: inline-block;
  font-size: 24px;
}

nav li a {
  text-decoration: none;
  color: #4b4b4b;
}

nav li a.join {
  color: #f63232;
}

main {
  max-width: 100%;
  width: 1200px;
  margin: 80px auto;
  padding: 0 40px;
  box-sizing: border-box;
} */
/* body,
ul,
li,
h1,
h2,
a {
  margin: 0;
  padding: 0;
  font-family: arial;
}

header {
  background-color: #f63232;
  padding: 20px 0;
  text-align: center;
  color: white;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 1;
}

header h1 {
  border: 8px solid white;
  display: inline-block;
  padding: 6px 12px;
  border-radius: 36px;
}

.banner {
  position: relative;
}

.banner .welcome {
  position: absolute;
  background-color: #feb614;
  padding: 100px;
  left: 0;
  top: 30%;
  color: white;
}

.banner h2 {
  font-size: 74px;
}

.banner span {
  font-size: 1.3em;
}

nav {
  background: #f4f4f4;
  padding: 20px;
  position: sticky;
  top: 106px;
}

nav ul {
  width: 1200px;
  white-space: nowrap;
  text-align: center;
  margin: 0 auto;
}

nav li {
  display: inline-block;
  width: 25%;
  font-size: 24px;
}

nav li a {
  text-decoration: none;
  color: #4b4b4b;
} */

/* body,
ul,
li,
h1,
h2,
a {
  margin: 0;
  padding: 0;
  font-family: arial;
}

header {
  background-color: #f63232;
  padding: 20px 0;
  text-align: center;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 1;
}

header h1 {
  color: white;
  border: 8px solid white;
  display: inline-block;
  padding: 6px 12px;
  border-radius: 36px;
}

.banner {
  position: relative;
}
.banner img {
  max-width: 100%;
}

.banner .welcome {
  position: absolute;
  padding: 30px;
  background-color: #feb614;
  left: 0;
  top: 30%;
  color: white;
  font-size: 60px;
}

.banner span {
  font-size: 1.4em;
}

nav {
  background-color: #f4f4f4;
  padding: 20px;
  position: sticky;
  top: 106px;
}

nav ul {
  text-align: center;
  width: 1200px;
  white-space: nowrap;
  margin: 0 auto;
}

nav li {
  display: inline-block;
  width: 25%;
  font-size: 24px;
}

nav li a {
  color: #4b4b4b;
  text-decoration: none;
}

nav li a.join {
  color: #f63232;
} */

body,
ul,
li,
h1,
h2,
a {
  margin: 0;
  padding: 0;
  font-family: arial;
}

header {
  background-color: #f63232;
  padding: 20px 0;
  text-align: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1;
}

header h1 {
  border: 8px solid white;
  display: inline-block;
  padding: 6px 12px;
  border-radius: 36px;
  color: white;
}

.banner {
  position: relative;
}

.banner img {
  max-width: 100%;
}

.banner .welcome {
  position: absolute;
  background-color: #feb614;
  padding: 30px;
  color: white;
  left: 0;
  top: 30%;
  font-size: 60px;
}

.banner span {
  font-size: 1.4em;
}

nav {
  background-color: #f4f4f4;
  padding: 20px;
  position: sticky;
  top: 104px;
}

nav ul {
  white-space: nowrap;
  margin: 0 auto;
  text-align: center;
}

nav ul li {
  width: 25%;
  display: inline-block;
}

nav ul li a {
  text-decoration: none;
  font-size: 25px;
  color: #4b4b4b;
}

nav a.join {
  color: #f63232;
}

main {
  max-width: 100%;
  width: 1200px;
  margin: 80px auto;
  padding: 0 40px;
  box-sizing: border-box;
}

article h2 {
  color: #f63232;
  font-size: 48px;
}

article p {
  line-height: 2em;
  color: #4b4b4b;
}

article p::first-line {
  font-weight: bold;
  font-size: 1.2em;
}

.images {
  text-align: center;
  margin: 80px 0;
  white-space: nowrap;
}

.images li {
  display: inline-block;
  list-style-type: none;
  padding: 20px 5%;
  width: 40%;
}

.images li img {
  max-width: 100%;
}
