/* p.error {
  color: red;
}

p.success {
  color: green;
}

p.success.feedback {
  border: 1px dashed green;
}

#content {
  background-color: #ebebeb;
  padding: 20px;
} */

/* div p {
  color: purple;
} */

/* div .error {
  color: purple;
} */

/* a[href="https://www.google.com"]
{
  background-color: green;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
} */

/* a[href*='google'] {
  background-color: yellow;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
} */

a[href$='com'] {
  background-color: yellow;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
}
